flows.json
[{"id":"a44d2f5c.6a4dd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4defa215.87165c","type":"function","z":"a44d2f5c.6a4dd","name":"PreToken","func":"global.set(\"lh\",msg.payload.lh)\nglobal.set(\"wt\",msg.payload.wt)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"ip\",msg.payload.ip)\nglobal.set(\"nt\",msg.payload.nt)\nglobal.set(\"bt\",msg.payload.bt)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"fs\",msg.payload.fs)\nglobal.set(\"rg\",msg.payload.rg)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"eg\",msg.payload.eg)\n\nvar apikey=\"CS5tZB4Whlro4R01vSmKw-GNg-ZrRAQcZxgP5UtmXv2_\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":400,"wires":[["15ce21f9.c3e2be"]]},{"id":"15ce21f9.c3e2be","type":"http request","z":"a44d2f5c.6a4dd","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":499,"y":388.9999952316284,"wires":[["9ba3df76.d81c4"]]},{"id":"35540edb.b5ee32","type":"debug","z":"a44d2f5c.6a4dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":938.0000114440918,"y":130.99999713897705,"wires":[]},{"id":"9ba3df76.d81c4","type":"function","z":"a44d2f5c.6a4dd","name":"Pre Prediction","func":"var lh = global.get('lh')\nvar wt = global.get('wt')\nvar id = global.get('id')\nvar ip = global.get('ip')\nvar nt = global.get('nt')\nvar bt = global.get('bt')\nvar ps = global.get('ps')\nvar fs = global.get('fs')\nvar rg = global.get('rg')\nvar ts = global.get('ts')\nvar eg = global.get('eg')\n\nvar token=msg.payload.access_token\nvar instance_id=\"55022f73-b90d-4fae-bf12-829a2433b83c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Layer Height\", \"Wall Thickness\", \"Infill Density\", \"Infill Pattern\", \"Nozzle Temperature\", \"Bed Temperature\", \"Print Speed\", \"Fan Speed\", \"Roughness\", \"Tension Strength\", \"Elongation\"],\"values\": [[lh,wt,id,ip,nt,bt,ps,fs,rg,ts,eg]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":696.0000076293945,"y":351.9999990463257,"wires":[["8c8c8045.6980e"]]},{"id":"8c8c8045.6980e","type":"http request","z":"a44d2f5c.6a4dd","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b0515c1f-6853-47f0-8c1e-738271e49e4d/predictions","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":280,"wires":[["9e3fbde2.e4907","98279d50.cc0b1"]]},{"id":"c154c3ad.35d99","type":"ui_form","z":"a44d2f5c.6a4dd","name":"","label":"","group":"e611ae6e.b3b4d","order":1,"width":0,"height":0,"options":[{"label":"Layer Height","value":"lh","type":"number","required":true,"rows":null},{"label":"Wall Thickness","value":"wt","type":"number","required":true,"rows":null},{"label":"Infill Density","value":"id","type":"number","required":true,"rows":null},{"label":"Infill Pattern","value":"ip","type":"text","required":true,"rows":null},{"label":"Nozzle Temperature","value":"nt","type":"number","required":true,"rows":null},{"label":"Bed Temperature","value":"bt","type":"number","required":true,"rows":null},{"label":"Print Speed","value":"ps","type":"number","required":true,"rows":null},{"label":"Fan Speed","value":"fs","type":"number","required":true,"rows":null},{"label":"Roughness","value":"rg","type":"number","required":true,"rows":null},{"label":"Tension Strength","value":"ts","type":"number","required":true,"rows":null},{"label":"Elongation","value":"eg","type":"number","required":true,"rows":null}],"formValue":{"lh":"","wt":"","id":"","ip":"","nt":"","bt":"","ps":"","fs":"","rg":"","ts":"","eg":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":91,"y":442.9999952316284,"wires":[["4defa215.87165c"]]},{"id":"ae2a21c8.365fc","type":"ui_text","z":"a44d2f5c.6a4dd","group":"e611ae6e.b3b4d","order":2,"width":0,"height":0,"name":"","label":"Material Predicted","format":"{{msg.payload}}","layout":"row-spread","x":857.6000366210938,"y":448.20000743865967,"wires":[]},{"id":"9e3fbde2.e4907","type":"function","z":"a44d2f5c.6a4dd","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":649.6000366210938,"y":191.60000133514404,"wires":[["35540edb.b5ee32","ae2a21c8.365fc"]]},{"id":"98279d50.cc0b1","type":"debug","z":"a44d2f5c.6a4dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":340,"wires":[]},{"id":"e611ae6e.b3b4d","type":"ui_group","z":"","name":"Enter Appropriate Values","tab":"d7de690f.ab7538","order":1,"disp":true,"width":9,"collapse":false},{"id":"d7de690f.ab7538","type":"ui_tab","z":"","name":"3D Printer Material Prediction using Watson Auto AI","icon":"dashboard","disabled":false,"hidden":false}]